@import "tailwindcss";

@theme {
  /* font family*/
  --font-epilogue: "Epilogue", sans-serif;

  /* colors */
  --color-primary-background: hsl(0, 0%, 98%);
  --color-primary-paragraph: hsl(0, 0%, 41%);
  --color-primary-head: hsl(0, 0%, 8%);

  /* font size */
  --text-primary: clamp(1rem, 0.964rem + 0.179vw, 1.125rem);
  --text-head: clamp(2.5rem, 1.929rem + 2.857vw, 4.5rem);
}

@layer components {
  .navlink {
    @apply hover:text-primary-head;
  }
}
